﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/logo/logo.png")" alt="Home" height="50" width="50" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.ye, "Ye", "Home")</li>
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.ic, "İç", "Home")</li>
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.izle, "İzle", "Home")</li>
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.duyurular, "Duyurular", "Home")</li>
                    <li>@Html.ActionLink(YemekSitesi.Resources.lang.admin, "Index", "Admin")</li>

                </ul>
                <div class="nav navbar-nav navbar-right col-md-6">
                    <div class="nav navbar-nav navbar-right col-md-3">
                        <div class="dropdown">
                            @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> TR <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                                </ul>
                            }
                            else
                            {
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">EN <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                                </ul>
                            }
                        </div>
                    </div>
                    @*<div class="nav navbar-nav navbar-right col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">@YemekSitesi.Resources.lang.ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder=@YemekSitesi.Resources.lang.icerik>
                        </div> /input-group 
                    </div>*@
                    <div class="nav navbar-nav navbar-right col-md-5">
                        @Html.Partial("_LoginPartial")
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @YemekSitesi.Resources.lang.footer </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
