﻿@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.slide, "Slider", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.yiyecekler, "Yemekler", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.icecekler, "icecekler", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.videolar, "videolar", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.duyurular, "duyurular", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Admin @YemekSitesi.Resources.lang.duyurular</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.ASP.NET MVC gives you a powerful
                            ASP.NET MVC gives you a powerfu
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
