﻿
@{
    ViewBag.Title = "Slider";
}

@model List<YemekSitesi.Models.slider>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li class="active">@Html.ActionLink(@YemekSitesi.Resources.lang.slide, "Slider", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.yiyecekler, "Yemekler", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.icecekler, "icecekler", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.videolar, "videolar", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.duyurular, "duyurular", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Slider</h4>
                    <a href="/Admin/SlideEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Slide" style="margin-top:-33px;">@YemekSitesi.Resources.lang.yenislide</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">@YemekSitesi.Resources.lang.fotograf</th>
                                <th class="col-md-7">@YemekSitesi.Resources.lang.baslik</th>
                                <th class="col-md-2">@YemekSitesi.Resources.lang.baslangictarihi</th>
                                <th class="col-md-2">@YemekSitesi.Resources.lang.bitistarihi</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @if (item.sliderFoto == null)
                                    {
                                        <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.sliderFoto)" />
                                        </td>
                                    }
                                    <td>@item.sliderText</td>
                                    <td>@String.Format("{0:d}", @item.baslangicTarih)</td>
                                    <td>@String.Format("{0:d}", @item.bitisTarih)</td>
                                    <td><a href='/Admin/SlideDuzenle?SlideID=@item.id' class='btn btn-xs btn-info tooltips' title='Düzenle'>@YemekSitesi.Resources.lang.duzenle</a></td>
                                    <td>@Html.ActionLink(@YemekSitesi.Resources.lang.sil, "/SlideSil", new { SlideID = item.id }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.id" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



