﻿
@{
    ViewBag.Title = "Videolar";
}

@model List < YemekSitesi.Models.video>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.slide, "Slider", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.yiyecekler, "Yemekler", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.icecekler, "icecekler", "Admin")</li>
                        <li class="active">@Html.ActionLink(@YemekSitesi.Resources.lang.videolar, "videolar", "Admin")</li>
                        <li>@Html.ActionLink(@YemekSitesi.Resources.lang.duyurular, "duyurular", "Admin")</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@YemekSitesi.Resources.lang.videolar</h4>
                    <a href="/Admin/videoEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Video" style="margin-top:-33px;">@YemekSitesi.Resources.lang.yenivideo</a>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-1">Url</th>
                                <th class="col-md-4">@YemekSitesi.Resources.lang.baslik</th>
                                <th class="col-md-7">@YemekSitesi.Resources.lang.eklenmetarihi</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>@item.url</td>
                                    <td>@item.baslik</td>
                                    <td>@item.eklenmeTarihi.ToShortDateString()</td>
                                    <td><a href='/Admin/videoDuzenle?videoID=@item.id' class='btn btn-xs btn-info tooltips' title='Düzenle'>@YemekSitesi.Resources.lang.duzenle</a></td>
                                    <td>@Html.ActionLink(@YemekSitesi.Resources.lang.sil, "/videoSil", new { videoID = item.id }, new { @class = "btn btn-xs btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                                    @*<td><a href="/Admin/SlideSil?SlideID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



