﻿

@{
    ViewBag.Title = "Video  Düzenle";
}

<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model YemekSitesi.Models.video

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("videoDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizantal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.id)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@YemekSitesi.Resources.lang.videoduzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">iFrame Url</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.url, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">@YemekSitesi.Resources.lang.baslik</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.baslik, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">@YemekSitesi.Resources.lang.eklenmetarihi</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.eklenmeTarihi, new { @class = "form-control", style = "width:250px;" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value=@YemekSitesi.Resources.lang.guncelle class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

