﻿
@{
    ViewBag.Title = "Yemek Ekle";
}

<link href="~/Content/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>

@model YemekSitesi.Models.yiyecek

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("YemekEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@YemekSitesi.Resources.lang.yeniyemek</h4>
                    <a href="/Admin/Yemekler" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Yemek" style="margin-top:-33px;">Tümü</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@YemekSitesi.Resources.lang.fotograf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@YemekSitesi.Resources.lang.aciklama</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.yiyecekText, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">@YemekSitesi.Resources.lang.tarif</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.tarif, new { @class = "form-control", rows="3", style = "width:500px;" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value=@YemekSitesi.Resources.lang.kaydet class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BitisTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BitisTarih").datepicker('setDate', new Date());
        $("#BaslangicTarih").datepicker({ dateFormat: 'DD.MM.YYYY' });
        $("#BaslangicTarih").datepicker('setDate', new Date());
    });
</script>







