﻿@{
    ViewBag.Title = "Hakkımızda";
}

@model  List < YemekSitesi.Models.duyuru>

<br />
<br />
<br />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            @foreach (var item in Model)
                {
                    <h4>@item.duyuruBaslik</h4>
                }
         </div>
        <div class="panel-body">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    <div class="col-md-10">
                        <p>@item.duyuru1</p>
                        <h4>@item.duyuruTarih.ToString().Substring(0,10)</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

