﻿@{
    ViewBag.Title = "Home Page";
}
@model YemekSitesi.Controllers.AnasayfaDTO



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <!-- En Son eklenen Slide getiriyoruz -->
                        @foreach (var item in Model.slider)
                        {
                            <div id="slider" class="item" data-id="@item.id">
                                @if (item.sliderFoto == null)
                                {
                                    <img src="~/logo/resimyok.png" alt="@item.sliderText" />
                                }
                                else
                                {
                                    <img  style="height:292px; width:1170px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.sliderFoto)" alt="@item.sliderText">
                                }
                                <div class="carousel-caption">
                                    <h3>@item.sliderText</h3>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@YemekSitesi.Resources.lang.yiyecekler</div>
            <div class="panel-body">
                <!-- En Son eklenen 2 yiyecek getiriyoruz -->
                @foreach (var item in Model.yiyecek)
                {
                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">
                            @if (item.yiyecekFoto == null)
                            {
                                <a><img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.yiyecekText" /></a>
                            }
                            else
                            {
                                <a><img class="img-responsive"    src="data:image/png;base64,@System.Convert.ToBase64String(item.yiyecekFoto)" alt="@item.yiyecekText"></a>
                            }
                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href='/Home/YeDetay?yiyecekID=@item.id'>@item.yiyecekText</a></h5>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer text-center">
                <button  onclick="location.href='@Url.Action("Ye", "Home")'" type="button" class="btn btn-primary">@YemekSitesi.Resources.lang.tumyemekler</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@YemekSitesi.Resources.lang.icecekler</div>
            <div class="panel-body">
                <!-- En Son eklenen 2 icecek getiriyoruz -->
                @foreach (var item in Model.icecek)
                {
                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">
                            @if (item.icecekFoto == null)
                            {
                                <a><img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.icecekText" /></a>
                            }
                            else
                            {
                                <a><img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.icecekFoto)" alt="@item.icecekText"></a>
                            }
                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title"><a href='/Home/İçDetay?icecekID=@item.id'>@item.icecekText</a></h5>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer text-center">
                <button onclick="location.href='@Url.Action("İç", "Home")'" type="button" class="btn btn-primary">@YemekSitesi.Resources.lang.tumicecekler</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">@YemekSitesi.Resources.lang.videolar</div>
            <div class="panel-body">
                <!-- En Son eklenen 2 video getiriyoruz -->
                @foreach (var item in Model.video)
                {
                    <div class="blog-list-post clearfix">
                        <div class="blog-list-thumb">
                            @if (item.url == null)
                            {
                                <iframe  src="https://www.youtube.com/embed/jj6v5ky5u00" frameborder="0" allowfullscreen></iframe>
                            }
                            else
                            {
                                <iframe  height="180" src="@item.url" frameborder="0" allowfullscreen></iframe>
                            }
                        </div>
                        <div class="blog-list-details">
                            <h5 class="blog-list-title">@item.baslik</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer text-center">
                <button onclick="location.href='@Url.Action("İzle", "Home")'" type="button" class="btn btn-primary">@YemekSitesi.Resources.lang.tumvideolar</button>
            </div>
        </div>
    </div>
</div>





    <script type="text/javascript">
        $("#slider.item:first").addClass("item active");
    </script>
