﻿
@{
    ViewBag.Title = "Videolar";
}

@model  List < YemekSitesi.Models.video>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@YemekSitesi.Resources.lang.videolar</h4>
        </div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @if (item.url == null)
                                {
                                    <iframe width="854" height="480" src="https://www.youtube.com/embed/jj6v5ky5u00" frameborder="0" allowfullscreen></iframe>
                                }
                                else
                                {
                                     <iframe height="240" width="" src="@item.url" frameborder="0" allowfullscreen></iframe>
                                }
                            </div>
                            <div class="col-md-12">
                                <h4>@item.baslik</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


