﻿
@{
    ViewBag.Title = "İçecekler";
}

@model  List < YemekSitesi.Models.icecek>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@YemekSitesi.Resources.lang.icecekler</h4>
        </div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @if (item.icecekFoto == null)
                                {
                                    <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.icecekText" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.icecekFoto)" alt="@item.icecekText" />
                                }
                            </div>
                            <div class="col-md-12">
                                <h4>@item.icecekText</h4>
                                @if (item.tarif.Length > 100)
                                {
                                <p>@item.tarif.Substring(0, 100)....</p>
                                }
                                else
                                {
                                <p>@item.tarif</p>
                                }
                                <a href="/Home/İçDetay?icecekID=@item.id" class="btn btn-primary">@YemekSitesi.Resources.lang.detaylar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>