﻿
@{
    ViewBag.Title = "Yemekler";
}

@model  List<YemekSitesi.Models.yiyecek>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>@YemekSitesi.Resources.lang.yiyecekler</h4>
        </div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                @if (item.yiyecekFoto == null)
                                {
                                    <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@item.yiyecekText" />
                                }
                                else
                                {
                                    <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(item.yiyecekFoto)" alt="@item.yiyecekText" />
                                }
                            </div>
                            <div class="col-md-12">
                                <h4>@item.yiyecekText</h4>
                                 @if(item.tarif.Length > 100)
                                 { 
                                <p>@item.tarif.Substring(0,100)....</p>
                                 }
                                 else
                                 {
                                    <p>@item.tarif</p>
                                 } 
                                <a href="/Home/YeDetay?yiyecekID=@item.id" class="btn btn-primary"> @YemekSitesi.Resources.lang.detaylar </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

