﻿
@{
    ViewBag.Title = "YeDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  YemekSitesi.Models.yiyecek

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@Model.yiyecekText</h4>
            </div>
            <div class="panel-body">
                <div class="nav col-md-12">
                    @if (Model.yiyecekFoto == null)
                    {
                        <img class="img-responsive" src="~/Content/images/resimyok.png" alt="@Model.yiyecekText" />
                    }
                    else
                    {
                        <img class="img-responsive" src="data:image/png;base64,@System.Convert.ToBase64String(Model.yiyecekFoto)" alt="@Model.yiyecekText">
                    }
                </div>
            </div> 
        </div>
    </div>
    <br />
    <br />
    <br />
    <h3>@Model.yiyecekText</h3>
    <p>@Model.tarif </p>
</div>

